.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    .logo {
        width: 200px;
        height: 200px;
    }
    .carrito {
        width: 50px;
        height: 50px;
    }
    .links {
        display: flex;
        .btn {
            display: flex;
            margin-right: 10px;
        }
    }
}

.saludo {
    display: flex;
    justify-content: center;
}