.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  .logo {
    margin-left: 20px;
    img {
      width: 150px;
      height: 150px;
    }
  }
  .carrolinks {
    display: flex;
    justify-items: center;
    align-items: center;

    .links {
      display: flex;
      a {
        margin-left: 20px;
        margin-right: 20px;
        font-family: sans-serif;
        font-weight: 700;
        font-variant: inherit;
        font-size: small;
        color: black;
        text-decoration: none;
      }
    }

    .carrito {
      display: flex;
      flex-direction: row;
      margin-right: 20px;
      margin-left: 100px;
      justify-content: center;
      align-items: center;

      img {
        width: 35px;
        height: 35px;
      }
    }
  }
}

.greeting {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-size: medium;
}

.footer {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-size: small;
}

.itemlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 4px;
  background-color: #f2f2f2;
  img {
    width: 300px;
  }
  h3 {
    font-family: sans-serif;
    font-size: medium;
    font-weight: 600;
    margin: auto;
  }
  a {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-weight: 300;
    font-size: small;
    color: black;
    text-decoration: none;
  }
}

.contador {
  .controles {
    display: flex;
    margin: auto;
    .button {
      margin: 20px;
    }
  }
  .agregar {
    display: flex;
    margin: auto;
  }
}

.detailcontainer {
  display: flex;
  justify-content: center;
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  img {
    width: 400px;
  }
  h3 {
    font-family: sans-serif;
    font-size: medium;
    font-weight: 600;
    margin: auto;
  }
  h5 {
    font-family: sans-serif;
    font-size: medium;
    font-weight: 600;
    margin: auto;
  }
  h4 {
    font-family: sans-serif;
    font-size: medium;
    font-weight: 600;
    margin: auto;
  }
  h6 {
    font-family: sans-serif;
    font-size: medium;
    font-weight: 300;
    margin: auto;
  }
}
